

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #e5e6ae;
  align-items: center;
}

.divH1 {
  margin-left: 10px;
}

.divLabel {
  padding-top: 5px;
  margin-left: 100px;
}

.divPara {
  padding-top: 10px;
  margin-left: 25px;
}

label, button {
  background-color: #cfd171;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}


label:hover, button:hover {
background-color: #abad50;
color: white;
}

label:active, button:active {
background-color: #83852e;
color: white;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

input {
  opacity: 0;
}
