

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #e5e6ae;
  align-items: center;
}

.divH1 {
  margin-left: 10px;
}

.divLabel {
  padding-top: 5px;
  margin-left: 100px;
}

.divPara {
  padding-top: 10px;
  margin-left: 25px;
}

label, button {
  background-color: #cfd171;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 0.8rem;
  height: auto;
}


label:hover, button:hover {
background-color: #abad50;
color: white;
}

label:active, button:active {
background-color: #83852e;
color: white;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

input {
  opacity: 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 0.5px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
/*.content {
 padding: 0 18px;
 display: none;
 overflow: hidden;
 background-color: #f1f1f1;
}*/

.content {
  padding: 50px, 50px, 50px, 50px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.chart-container {
  position: relative;
  margin: auto;
  height:25vh;
  width:85vw;
  padding-top:10px;
}
